<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - ToDo List</title>
    <link rel="icon" href="/static/images/logo.png">
</head>

<body>
    <nav>
        <h1>ToDo List</h1>
        <a href="">Login</a>
        <a href="">Register</a>
    </nav>
    <form method="POST">
        {% csrf_token %}
        <div>
            <label for="Email" >Email: </label>
            <input type="email" placeholder="name@example.com" name='user_name' id="Email">
        </div>
        <div>
            <label for="Password">Password: </label>
            <input type="password" placeholder="password" name='password' id="Password">
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
        {{status}}
    </form>
</body>

</html>