<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
</head>

<body>
    <div>
        <form method="POST">
            {% csrf_token %}
            <div class="task">
                <label for="task_name" class="form-label">Task</label>
                <input type="text" class="form-control" id="tas_kname" name='taskname'>
            </div>

            <div class="description">
                <label for="task_description" class="form-label">description</label>
                <textarea class="form-control" id="task_description" rows="3" name='description'></textarea>
            </div>

            {% comment %} <div class="completedate">
                <label for="complete_date" class="form-label">Complete Date</label>
                <input type="date" class="form-control" id="complete_date" name='completedate'>
            </div> {% endcomment %}

            {% comment %} <div class="status">
                <label for="task_status" class="form-label">Status</label>
                <input type="text" class="form-control" id="task_status" name='status'>
            </div> {% endcomment %}
            <a href=""><button type="submit" class="btn btn-primary">Add Task</button></a>
            {{status}}
        </form>
    </div>
</body>

</html>