<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="POST">
        <div class="old_password">
            <label for="oldinputPassword" class="form-control">old Password</label>
            <div class="oldpassword">
                <input type="password" class="form-control" id="oldinputPassword" name='oldpassword'>
            </div>
        </div>
        <div class="new_password">
            <label for="newinputPassword" class="form-control">New Password</label>
            <div class="newpassword">
                <input type="password" class="form-control" id="newinputPassword" name='newpassword'>
            </div>
        </div>

        <div class="confirm_password">
            <label for="confirmPassword" class="form-control">Confirm Password</label>
            <div class="confirmpassword">
                <input type="password" class="form-control" id="confirm_Password" name='confirmPassword'>
            </div>
    </form>
</body>
</html>