<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>welcome user</h1>
    <div>
        <a href="{% url 'user:addTask' %}"><button>add Task</button></a>
        <a href="{% url 'user:viewTask' %}"><button>view Task</button></a>
        <a href="{% url 'user:profile' %}"><button>profile</button></a>
        <a href="{% url 'user:change' %}"><button>change password</button></a>
        <a href="{% url 'user:logout' %}"><button>Logout</button></a>
    </div>
</body>
</html>