<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - ToDo List</title>
    <link rel="icon" href="/static/images/logo.png">
</head>
<body>
    <nav>
        <h1>ToDo List</h1>
        <a href="/common/templates/login.html">Login</a>
        <a href="/common/templates/register.html">Register</a>
    </nav>
    <div>
        <label for="Email">Email: </label>
        <input type="email" placeholder="name@example.com">
    </div>
    <div>
        <label for="Password">Password: </label>
        <input type="password" placeholder="password">
    </div>
    <div>
        <button type="button">Login</button>
    </div>
</body>
</html>